{
  "included": [
    {
      "type": "Hydro Generation",
      "id": "1",
      "attributes": {
        "title": "Hidráulica",
        "values": [
          {
            "value": 4500.5,
            "percentage": 0.15,
            "datetime": "2023-10-27T08:00:00"
          },
          {
            "value": 4600.2,
            "percentage": 0.14,
            "datetime": "2023-10-27T09:00:00"
          }
        ]
      }
    },
    {
      "type": "Wind Generation",
      "id": "2",
      "attributes": {
        "title": "Eólica",
        "values": [
          {
            "value": 12000.0,
            "percentage": 0.40,
            "datetime": "2023-10-27T08:00:00"
          },
          {
            "value": 13500.5,
            "percentage": 0.42,
            "datetime": "2023-10-27T09:00:00"
          }
        ]
      }
    },
    {
      "type": "Solar Generation",
      "id": "3",
      "attributes": {
        "title": "Solar fotovoltaica",
        "values": [
          {
            "value": 500.0,
            "percentage": 0.02,
            "datetime": "2023-10-27T08:00:00"
          },
          {
            "value": 9500.0,
            "percentage": 0.28,
            "datetime": "2023-10-27T10:00:00"
          }
        ]
      }
    }
  ]
}